@inherits LayoutComponentBase

<div class="min-vh-100 d-flex align-items-center justify-content-center bg-light">
    @Body
</div>

<div id="blazor-error-ui">
    <span>出现了意外错误，请刷新页面。</span>
    <a href="" class="reload">刷新</a>
    <a class="dismiss">🗙</a>
</div>
